Makefile
Makefile.in
aclocal.m4
autom4te.cache
cfgaux
config.cache
configure
configure.lineno
Makefile.in
GNUmakefile
make.out
CVS
inilex.cc
iniparse.cc
iniparse.hh
setup.log
setup.log.full
setup_version.c
stamp-h1
tags
autoconf.h
autoconf.h.in
