CVS
GNUmakefile
Makefile
Makefile.in
aclocal.m4
autoconf.h*
autom4te.cache
cfgaux
config.cache
configure
configure.lineno
inilex.cc
iniparse.cc
iniparse.hh
make.out
setup.log
setup.log.full
setup_version.c
stamp-h1
tags
