#include "resource.h"
#include "windows.h"
#include "commctrl.h"

#define SETUP_STANDARD_DIALOG_W	339
#define SETUP_STANDARD_DIALOG_H	179
#define SETUP_MEDIUM_DIALOG_W		277
#define SETUP_MEDIUM_DIALOG_H		137
#define SETUP_SMALL_DIALOG_W		215
#define SETUP_SMALL_DIALOG_H		95

#define SETUP_STANDARD_DIALOG_DIMS	SETUP_STANDARD_DIALOG_W, SETUP_STANDARD_DIALOG_H
#define SETUP_MEDIUM_DIALOG_DIMS	SETUP_MEDIUM_DIALOG_W, SETUP_MEDIUM_DIALOG_H
#define SETUP_SMALL_DIALOG_DIMS	SETUP_SMALL_DIALOG_W, SETUP_SMALL_DIALOG_H

#define SETUP_HEADICON_X		(SETUP_STANDARD_DIALOG_W - 27)

// Width for Keep/Prev/Curr/Exp buttons.
#define SETUP_KPCE_W		(35)

// Right-aligned controls.
#define SETUP_EXP_X		(SETUP_STANDARD_DIALOG_W - SETUP_KPCE_W - 7)
#define SETUP_SYNC_X		(SETUP_EXP_X - SETUP_KPCE_W - 5)
#define SETUP_BEST_X		(SETUP_SYNC_X - SETUP_KPCE_W - 5)
#define SETUP_KEEP_X		(SETUP_BEST_X - SETUP_KPCE_W - 5)

// Left-aligned controls.
#define SETUP_VIEW_X		(7)
#define SETUP_VIEW_W		(20)
#define SETUP_VIEWLIST_X		(SETUP_VIEW_X + SETUP_VIEW_W + 2)
#define SETUP_VIEWLIST_W		(60)
#define SETUP_SEARCH_X		(SETUP_VIEWLIST_X + SETUP_VIEWLIST_W + 2)
#define SETUP_SEARCH_W		(32)
#define SETUP_SEARCHTEXT_X	(SETUP_SEARCH_X + SETUP_SEARCH_W + 2)
#define SETUP_SEARCHTEXT_W	(60)
#define SETUP_CLEAR_X		(SETUP_SEARCHTEXT_X + SETUP_SEARCHTEXT_W + 2)
#define SETUP_CLEAR_W		(30)
#define SETUP_CHOOSE_X          (7)
#define SETUP_CHOOSE_W          (SETUP_STANDARD_DIALOG_W - 2*SETUP_CHOOSE_X)

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "setup.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_CYGWIN_SETUP        ICON    "cygwin-setup.ico"
IDI_CYGWIN              ICON    "cygwin.ico"
IDI_CYGWIN_TERMINAL     ICON    "cygwin-terminal.ico"
IDI_TREE_PLUS           ICON    "tree-plus.ico"
IDI_TREE_MINUS          ICON    "tree-minus.ico"

/////////////////////////////////////////////////////////////////////////////
//
// FILE
//

CYGWIN-SETUP.ICON       FILE    "cygwin-setup.ico"
CYGWIN.ICON             FILE    "cygwin.ico"
CYGWIN-TERMINAL.ICON    FILE    "cygwin-terminal.ico"

/////////////////////////////////////////////////////////////////////////////
//
// English (en_US) resources
//

#include "res/en/res.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Translations

#include "res/fr/res.rc"
#include "res/tr/res.rc"
#include "res/zh_Hans/res.rc"
